* {
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #F0F4F5;
}

ul {
    list-style-type: none;
}

i {
    cursor: pointer;
    color: red;
}

.container {
    background-color: #ffffff;
}

.add-to-list {
    width: 90%;
    height: 2rem;
}

.list-div {
    display: inline;
}

.list-div p {
    display: inline;
}

.list-item {
    border-bottom: 2px solid#F0F4F5;
    margin-bottom: 10px;
}


.complete-item {
    height: 24px;
    margin-right: 25px;
}

.remove-item {
    height: 24px;
    margin-right: 40px;
    float: right;
}